.form-control
{
    margin: 5% 0;
    background-color: #F9F9F9;
    display: flex;
    padding: 8%;
    flex-direction: column;
    border-radius:25px;
   
}
.form-control-input
{
    display: flex;
    flex-direction: column;
   
}
.form-control-input input
{
    margin: 4% 4%;
    height: 25px;
    border: none;
}
.form-control label
{
    margin: 0% 4%;
}
.form-control button
{
    background-color: rgb(114, 16, 114); 
    color: white;
    width:25%;
    height:40px;
}

